bin/
obj/
.vs/
*.db
*.db-shm
*.db-wal
CURRENT_PORTS.txt
*.user
*.apk
wwwroot/apk/*.apk
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
**/GeneratedPluginRegistrant.*
*.iml
.DS_Store
.env
*.log
.android-sdk/
.tools/
host-out/
dist/
